
<h2>Modify Firearm</h2>

<form name="FirearmForm" ng-cloak="" style="width: 400px;">
	<div>
		<label>Brand</label>
		<input class="form-control" ng-model="Firearm.Brand" type="text" placeholder="Enter a brand" required tooltip-placement="right" tooltip="eg. Remington" />
	</div>
	<div>
		<label>Model</label>
		<input class="form-control" ng-model="Firearm.Model" type="text" placeholder="Enter a model" required tooltip-placement="right" tooltip="eg. Model 700" />
	</div>
	<div>
		<label>Caliber</label>
		<select class="form-control" ng-model="Firearm.Chamber" ng-options="c.Id as c.Name for c in Enums.Cartidges" required></select>
	</div>
	<div>
		<label>Barrel Length (in)</label>
		<input class="form-control" ng-model="Firearm.BarrelLength" type="number" placeholder="Enter a barrel length" required min="1" max="40" />
	</div>
	<div>
		<label>Type</label>
		<select class="form-control" ng-model="Firearm.Type" ng-options="t.Id as t.Name for t in Enums.Types" required></select>
	</div>
	<p class="FormFooter">
		<button ng-click="BackToList()" class="btn btn-danger" style="float: left;">Cancel</button>
		<button ng-click="Save()" ng-disabled="FirearmForm.$invalid" class="btn btn-success">Save</button>
	</p>
</form>
