
<h2>My Firearms</h2>
<table ng-cloak="" class="table table-striped">
	<thead>
		<tr>
			<th><a href="" ng-click="sort='Model';reverse=!reverse" title="Sort">Model</a></th>
			<th><a href="" ng-click="sort='Brand';reverse=!reverse" title="Sort">Brand</a></th>
			<th><a href="" ng-click="sort='Chamber';reverse=!reverse" title="Sort">Caliber</a></th>
			<th></th>
		</tr>
	</thead>
    <tr ng-repeat="firearm in Firearms | orderBy:sort:reverse">
        <td>{{firearm.Model}}</td>
        <td>{{firearm.Brand}}</td>
        <td>{{firearm.Chamber | EnumToString:Enums.Cartidges}}</td>
        <td>
			<!-- TODO: create directive -->
			<button ng-click="Edit(firearm.FirearmId)" title="Edit" class="btn btn-primary">
				<span class="glyphicon glyphicon-cog"></span>
				Edit
			</button>
			<button ng-click="Delete(firearm)" title="Delete" class="btn btn-danger">
				<span class="glyphicon glyphicon-trash"></span>
				Delete
			</button>
		</td>
    </tr>
</table>
<p>
	<button ng-click="Add()" class="btn btn-success">
		<span class="glyphicon glyphicon-plus"></span>
		Add
	</button>
</p>
