
@{
    ViewBag.Title = "My Handloads";
}

@section Scripts {
	@Scripts.Render(
		"~/bundles/angularjs",
		"~/bundles/angularresourcejs",
		"~/bundles/angularloaderjs",
		"~/bundles/angularroutejs",
		"~/bundles/angularui"
	)

    @Scripts.Render("~/bundles/handloads")
}

<div ng-app="HandloadManager">
	<div ng-view=""></div>
</div>
