
@{
    ViewBag.Title = "My Handloads";
}

@section HeadIncludes {
	@Styles.Render("~/bundles/angularblockuicss")
}

@section Scripts {
	@Scripts.Render(
		"~/bundles/angularjs",
		"~/bundles/angularui",
		"~/bundles/angularblockuijs"
	)

    @Scripts.Render(
		"~/bundles/authorization",
		"~/bundles/handloads"
	)
}

<div ng-app="HandloadManager" block-ui="main">
	<div ng-view=""></div>
</div>
