
@{
    ViewBag.Title = "Modify Account";
}

@section Scripts {
	@Scripts.Render("~/bundles/angularjs")

	@Scripts.Render("~/bundles/usermanager")
}

<div ng-app="UserManager">
	<div ng-controller="UserController">{{ message }}</div>
</div>