@{
	ViewBag.Title = "Manage Account";
}

@section Scripts {
	<script>
		var CurrentUser = @Html.Raw(Json.Encode(this.User.Identity));
	</script>

	@Scripts.Render("~/bundles/angularjs", "~/bundles/angularui")

	@Scripts.Render("~/bundles/usermanager")
}

<h2>Manage Account</h2>

<div ng-app="UserManager" ng-controller="UserController">
	<form name="UserForm" style="width: 400px;">
		<p>
			<label>Email</label>
			<input class="form-control" ng-model="User.Email" name="Email" type="email" required email-unique-validator ng-model-options="ModelValidateOptions" />
			<div ng-if="UserForm.Email.$dirty">
				<div ng-messages="UserForm.Email.$error">
					<span ng-message="required">Email field required</span>
					<span ng-message="email">Valid email required</span>
					<span ng-message="emailAvailable">The email address is already in use</span>
				</div>
			</div>
		</p>
		<p>
			<label>First Name</label>
			<input class="form-control" ng-model="User.FirstName" required />
		</p>
		<p>
			<label>Last Name</label>
			<input class="form-control" ng-model="User.LastName" required />
		</p>
		<p class="FormFooter">
			<a style="cursor: pointer; float: left;" ng-click="ChangePassword()" ng-hide="PasswordSaved">Change password</a>
			<strong style="float: left;" ng-show="PasswordSaved">Password Saved</strong>
			<button class="btn btn-success" ng-click="Save()" ng-disabled="FormValidation()">Save</button>
		</p>
	</form>
</div>